<script id="contacts" type="text/x-handlebars-template">
  <a href="#employee/{{ cid }}">
    <div class="contact-list-img">
      <img src="images/{{ img }}">
    </div>
    <div class="contact-list-info">
      <h3>{{ name }}</h3>
      <p>{{ title }}</p>
    </div>
  </a>
</script>
